.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black; 
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 500px;
    display: inline-block;
  }
  
  .card .card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .card .card-title {
    font: Arial, sans-serif;
    margin: 0;
    color: blue;
  }
  
  .card .card-text {
    font: Arial, sans-serif;
    margin: 0;
    color: blue;
  }

  .printer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    border: 1px solid blue;
  }

  .printer p{
    margin: 0px;
  }

  .welcome-message .log-in-prompt {
    font-size: 2.5em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
  }
  
  .log-in-prompt {
    color: red;
  }
  .welcome-message {
    color: blue;
  }